:root {
    --fondo: #ffffff;
    --fondo-reproductor: #FFFFFF;
    --sombra-reproductor: black;
    --fuente: 'PT Sans Narrow', sans-serif;
    --title-color: rgb(95, 95, 95);
    }
    
    

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--fondo);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);
    color: var(--color-fuente);
}


/* Imagen de portada */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: var(--fondo-reproductor);
    border-radius: 20px;
    width: 300px;
    height: 550px;
    box-shadow: var(--sombra-reproductor) 0px 10px 50px 0px;
}

.portada img {
    width: 270px;
    border-radius: 20px;
}



/* Nombre de la cancion */
.cancion  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: var(--title-color);
}

.titulo,.artista {
    margin: 10px;
}



/* Botones */
.botones {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones img {
    width: 40px;
    margin: 0 15px;
    margin-top: -10px;
}

.botones img:hover {
    opacity: 40%;
}

.anterior,
reproducirPausar,
.siguiente {
    background-color: var(--fondo-reproductor);
    cursor: pointer;
}



button {
    border: none;
}

button:active {
    transform: scale(1.5);
}

audio {
    margin-top: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
}


audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #ffffff;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    font-weight: bolder;
    font-size: 15px;
}

#ultima,
#primera {
    opacity: 35%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 30px;
    bottom: 0px;
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
footer span {
    color: white;
}
footer a {
    color: orange;
}

/* Responsive */
@media (max-width: 300px) {
    .reproductor {
        width: 200px;
        height: 420px;
    }

    .portada img {
        width: 200px;
        border-radius: 10px;
    }

    audio {
        width: 200px;
        margin-top: 10px;
    }

    .botones img {
        width: 30px;
        margin-top: -25px;
    }

    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display {
        font-weight: bolder;
        font-size: 12px;
    }

    .titulo {
        font-size: 30px;
    }

    .artista {
        font-size: 20px;
    }

}